.login-body {

  background-image: url(../images/party.jpg);
  height: 100vh;
}

.main-menu {

  padding-top: 15px;
}

/*-----------------------------------------Temporales--------------------------------------------- */


li {

  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*--------------------------------------- Final temprales------------------------------ */